<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>Admin</title>
        <style>
            .form-check-input {
                border: 2px solid #1c1e20 !important;
                box-shadow: none !important;

            }

            .form-check-input:checked {
                background-color: #1c1e20 !important;
                border-color: #1c1e20 !important;
            }
        </style>
</head>

<body>
    <%- include("./partials/sidebar.ejs") %>


        <main class="main users chart-page" id="skip-target">
            <div class="container py-4">
                <h2 class="main-title">Dashboard</h2>

                <div class="card shadow rounded mx-auto mt-5" style="max-width: 800px; ">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Add Gallery Image</h3>

                        <form action="/admin/addgalleryimg" method="post" enctype="multipart/form-data">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <label class="form-label">Profile Image<sup>*</sup></label>
                                    <input type="file" name="image"
                                        class="form-control shadow-sm border border-secondary" required>
                                </div>
                                <div class="col-md-12 text-center mt-3">
                                    <button type="submit" class="btn btn-primary px-5">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <%- include("./partials/footer.ejs") %>
            <%- include("./partials/script.ejs") %>

</body>

</html>