<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>

        <title>page</title>
</head>

<body>
    <%- include("./partials/nav.ejs") %>

        <%- include("./partials/footer.ejs") %>
            <%- include("./partials/script.ejs") %>
</body>

</html>